<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
  </head>
  <body>
    <h1>Recipe List</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="recipe : ${recipes}">
          <td th:text="${recipe.name}"></td>
          <td th:text="${recipe.creator}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
